.button {
  background: red;
  border-radius: 3px;
  box-shadow: 2px 2px 2px grey;
  color: yellow;
  cursor: pointer;
  font-family: Verdana;
  padding: 2px 5px;
}

.button:hover {
  color: white;
}

.button:active {
  box-shadow: none;
  box-shadow: 1px 1px 1px grey;
}

.log {
  color: green;
}